@using Microsoft.AspNetCore.Identity;
@using CarDeal.Data;
@using CarDeal.Models.DTOs;
@model List<ReviewDTO>
@inject SignInManager<User> signinManager;

@{
    ViewData["Title"] = "SortDes";
}
<h1>These are the reviews sorted in descending order by Describtion </h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <a class="btn btn-group-lg" asp-action="SortName"> <strong> Name  </strong> </a>
            </th>
            <th>
                <a class="btn btn-group-lg" asp-action="SortDescribtion"> <strong>Describtion</strong> </a>
            </th>
            <th>
                <a class="btn btn-group-lg" asp-action="SortStars"> <strong>Stars</strong> </a>
            </th>
            <th>
                <a class="btn btn-group-lg" asp-action="SortPublish"> <strong>Publish</strong> </a>
            </th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Describtion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stars)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publish)
                </td>
               
            </tr>
        }
    </tbody>
</table>
@if (this.signinManager.IsSignedIn(User))
{
    <a class="btn btn-outline-dark" asp-area="" asp-controller="Review" asp-action="UserReviews">Back to List</a>
}
else
{
    <p>Login to create a review</p>
    <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a>
}